.separator {
  margin-top: 25px;
  margin-bottom: 80px;
  border: 0; }

.separator--line {
  border: 0;
  border-bottom: 5px solid #bada55;
  width: 0;
  -webkit-animation: separator-width 1s ease-out forwards;
  animation: separator-width 1s ease-out forwards; }

@-webkit-keyframes separator-width {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes separator-width {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.separator--dots {
  overflow: visible;
  border: 0;
  content: "";
  background-color: #bada55;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: relative; }
  .separator--dots:before {
    content: "";
    background-color: #bada55;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    -webkit-animation: dot-move-left 1s ease-out forwards;
    animation: dot-move-left 1s ease-out forwards; }
  .separator--dots:after {
    content: "";
    background-color: #bada55;
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    -webkit-animation: dot-move-right 1s ease-out forwards;
    animation: dot-move-right 1s ease-out forwards; }

@-webkit-keyframes dot-move-right {
  0% {
    left: 0; }
  100% {
    left: 32px; } }

@keyframes dot-move-right {
  0% {
    left: 0; }
  100% {
    left: 32px; } }

@-webkit-keyframes dot-move-left {
  0% {
    left: 0; }
  100% {
    left: -32px; } }

@keyframes dot-move-left {
  0% {
    left: 0; }
  100% {
    left: -32px; } }

.separator--dotter {
  border: 0;
  border-bottom: 5px dotted #bada55;
  width: 0;
  -webkit-animation: separator-width 1.5s ease-out forwards;
  animation: separator-width 1.5s ease-out forwards; }
