  .newsArt {
      width: 15%;
      border-radius: 8px;
      background: #fff;
      position: relative;
      -webkit-transition: box-shadow .4s;
      -o-transition: box-shadow .4s;
      transition: box-shadow .4s;
      padding: 10px 8px 15px 8px;

  }

  /*figure*/
  .newsArt .imagesforSlide {
      height: 100%;
      width: 100%;
      max-height: 100%;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      margin: 0;
  }

  .newsArt .imagesforSlide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      pointer-events: none;
  }

  .newsArt figure img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1)
  }

  .newsArt:hover {
      -webkit-box-shadow: 0 0 15px grey;
      box-shadow: 0 0 25px grey
  }

  .newsArt .title {
      width: 100%;
      text-align: center;
      background: transparent;

      margin: 10px 0 20px 0;
      font-family: BPGExtraSquare;
      font-size: 12px;
      border-radius: 0 0 6px 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box
  }

  .newsArt .title a {
      text-decoration: none;
      color: #707070;
  }

  .newsArt .hName {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
  }

  .newsArt .hName h2 {
      width: 100%;
      font-variant: small-caps;
      font-weight: bolder;
      font-size: 20px;
      -webkit-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
      text-align: center;
      margin: 0
  }

  .newsArt .hName .productName {
      position: relative;
      -webkit-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
      text-align: left;
      text-decoration: none;
      color: #000;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center
  }

  .newsArt .hName .productName::after {
      content: "";
      position: absolute;
      width: 0;
      height: 5px;
      bottom: -15%;
      left: 1%;
      background: #1eb2d5;
      background: red;
      -webkit-transition: width .4s, background .3s;
      -o-transition: width .4s, background .3s;
      transition: width .4s, background .3s
  }

  .newsArt .hName .productName:hover::after {
      width: 60px;
      background: #1eb2d5
  }

  .newsArt .hPrices {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-around;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .newsArt .hPrices h5 {
      margin: 0;
      padding: 0;
  }

  .newsArt .bx-wrapper .bx-pager {
      width: 100%;
      justify-content: center;
  }

  .newsArt .bx-wrapper .bx-pager.bx-default-pager a {
      height: 5px;
      width: 5px;
  }

  .newsArt .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .newsArt .bx-wrapper .bx-pager.bx-default-pager a.active,
  .newsArt .bx-wrapper .bx-pager.bx-default-pager a:focus {
      background: lightgrey;
      height: 5px;
      width: 15px;
      transition: all .2s;
  }

  .newsArt .bx-wrapper .bx-viewport {
      height: 150px;
      max-height: 150px;
  }

  .newsArt .bx-wrapper .bx-controls-direction {
      display: block;
  }

  .newsArt .bx-wrapper .bx-controls-direction a {
      display: block;
      right: 10px;
      background: url('../img/controls.png') no-repeat -0px -32px;
      /*    background: white;*/

  }

  .newsArt .bx-wrapper .bx-controls-direction a:nth-child(2) {
      display: block;
      right: 10px;
      background: url('../img/controls.png') no-repeat -43px -32px;
      /*    background: white;*/

  }

  .newsArt .hPrices .changedPrice {
      font-size: 20px
  }

  .newsArt .hPrices h5 {

      font-family: BPGextraSquare;

  }

  .newsArt .hPrices .newPrice {
      margin-bottom: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-size: 40px;
      align-items: center;
      pointer-events: none;

  }

  .newsArt .hPrices .newPrice span {
      font-size: 18px;
      padding-left: 10px;
      box-sizing: border-box;
  }

  .newsArt .hPrices .oldPrice span {
      font-size: 18px;
      padding-left: 10px;
      box-sizing: border-box;
  }

  .newsArt .hPrices .oldPrice {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18px;
      color: #707070;
      position: relative;
      pointer-events: none;

  }

  .newsArt .hPrices .oldPrice::after {
      position: absolute;
      content: "";
      width: 108%;
      left: -4%;
      height: 1px;
      background: #707070;
      bottom: calc(50% - 1px);
  }

  .newsArt .time {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #05858F;
      ;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      font-size: 12px;
      font-family: BPGExtraSquare;
      margin: 17px 0 20px 0;
      pointer-events: none;
  }


  .newsArt .time .span1 {
      font-size: 14px;
      color: #05858F;

  }

  .newsArt .time .span2 {
      padding-left: 5px;
  }

  .newsArt .socials {

      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      -ms-flex-pack: distribute;
      margin: 0;
  }

  .newsArt .socials a {
      color: grey;
      background: #fff;
      border-right: solid 1px #008b8b;
      width: 40%;
      text-align: center;
      line-height: 25px;

  }

  .newsArt .socials a:last-child {
      border: none
  }

  .newsArt .socials .fa-facebook-f {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s
  }

  .newsArt .socials a:hover .fa-facebook-f {
      color: #0000e6;
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg)
  }

  .newsArt .socials .fa-star {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s
  }

  .newsArt .socials a:hover .fa-star {
      color: #ffe033;
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg)
  }

  .newsArt .socials .fa-heart {
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s
  }

  .newsArt .socials a:hover .fa-heart {
      color: #fc2f55;
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg)
  }
