input {
    display: none;
}

.newsArt {
    width: 210px;
    max-width: 210px;
    margin-bottom: 15px;
}

input:checked + a {
    text-shadow: 2px -2px 5px white,
        2px 2px 15px black,
        2px 4px 15px black;
    font-weight: 900;
}

@font-face {
    font-family: mtav;
    src: url(../fonts/mtavruli.ttf)
}

@font-face {
    font-family: nusx;
    src: url(../fonts/nusx.ttf)
}

@font-face {
    font-family: pariz;
    src: url(../fonts/parizuli.ttf)
}

@font-face {
    font-family: italy;
    src: url(../fonts/italiuri.ttf)
}

@font-face {
    font-family: headline;
    src: url(../fonts/kupiura.ttf)
}

@font-face {
    font-family: mine;
    src: url(../fonts/minecraft.ttf)
}

@font-face {
    font-family: alaverd;
    src: url(../fonts/alaverdi.ttf)
}


/* ScrollBar Styles Start */
::webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f6f6f6;
    border-left: solid 2px white;
    opacity: 0.1;
}

::-webkit-scrollbar:hover {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background: #1eb2d5;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7cd870;

}

/* ScrollBar Styles End */



body,
html {
    padding: 0;
    margin: 0;
    background: #f6f6f6;
}

body {
    overflow-x: hidden;
}

/* Header + Nav Styles Start */
#mainHeader {
    background: #1eb2d5;
    width: 100%;
    position: absolute;
    top: 10px;
}

#mainHeader .logo {
    width: 5%;
}

#mainHeader a {
    display: block;
    float: left;
}

#mainHeader a img {
    width: 100%;
    margin: 2px 2px 2px 2px
}

header #los {
    float: left;
    line-height: 40px;
    font-family: mtav;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

u {
    text-decoration: underline white;
}

#mainHeader nav #headerMenu {
    width: 32.5%;
    list-style: none;
    float: right;
    margin-top: 1.8%;
}

#mainHeader nav #headerMenu li a {
    text-decoration: none;
    padding: 0 5px;
}

#mainHeader nav #headerMenu li a {
    font-family: mtav;
    font-size: 20px;
}

#mainHeader nav #headerMenu li:after {
    content: '';
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
}

/* Links Hover Effect */

.nav-item {
    border: none;
}

.nav-link {
    position: relative;
    transition: .5s;
    color: white;
    font-size: 20px;
}

.nav-link:hover {
    color: #1eb2d5;
    background-color: white;
}

.nav-link:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 12px;
    height: 12px;
    border: 3px solid white;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
}

/*top: -3px; right: -4px;*/
.nav-link:hover:after {
    top: -8px;
    right: -8px;
    opacity: 1;
}

.nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 12px;
    height: 12px;
    border: 3px solid white;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

/*bottom: -8px;left: -4px*/
.nav-link:hover:before {
    bottom: -8px;
    left: -8px;
    opacity: 1;
}


/* Header + Nav Styles End */


/* Slider Styles Start */
.slider {
    margin-top: 96px;
    width: 100%;
    height: 350px;
}

#slider {
    width: 100%;
    height: 100%;
    margin: 0;
}

#slider img {
    width: 100%;
    height: 100%;
}

/* Slider Styles End */

/* Left & Right ARrows Styles */
.secNav .arrowsIcons {

    padding: 5px 11px 5px 10px;
    color: white;
    text-align: center;
    animation: animee ease-in-out 2s infinite;
    font-size: 25px;
    margin-bottom: 7px;



}

.secNav .arrowsIcons:nth-child(1) {


    animation: anime ease-in-out 2s infinite;
}

@keyframes anime {

    0%,
    20%,
    60%,
    100% {
        transform: translate(0)
    }

    40%,
    80% {
        transform: translateX(10px)
    }

}

.arrowsIcons:nth-child(2) {
    animation: animee ease-in-out 2s infinite;
}

@keyframes animee {

    0%,
    20%,
    60%,
    100% {
        transform: translate(0)
    }

    40%,
    80% {
        transform: translateX(-10px)
    }

}

/* Left & Right ARrows Styles End */


/* Second Navbar */
.secNav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 15px 0;
    background: #1eb2d5;
}

.secNav .navbar {
    width: 100%;
    background: #1eb2d5;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-around;
    height: 70px;
    line-height: 70px;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;

}

.secNav .navbar li a {
    text-decoration: none;
    font-family: mtav;
    padding: 0 5px;
}

.secNav .navbar li a {
    font-size: 20px;
}


.secNav .navbar::-webkit-scrollbar {
    height: 3px;
    background: #5ae875;
}

.secNav .navbar::-o-scrollbar {
    height: 3px;
    background: #5ae875;
}

.secNav .navbar::-ms-scrollbar {
    height: 3px;
    background: #5ae875;
}

.secNav .navbar::-webkit-scrollbar-track {
    background: transparent;
}

.secNav .navbar::-o-scrollbar-track {
    background: transparent;
}

.secNav .navbar::-ms-scrollbar-track {
    background: transparent;
}


.secNav .navbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer;

}

.secNav .navbar::-o-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer;

}

.secNav .navbar::-ms-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer;

}



/* Technic SubMenus Styles Start */


.secNav .navbar li .subs {
    -webkit-transition: all 1s;
}

.secNav .navbar li .subs {

    list-style: none;
    position: absolute;
    z-index: 1;
    background: #1eb2d5;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    margin-left: -5.5%;
    margin-top: -1%;
    padding-left: 20px;
    display: flex;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    perspective: 400px;
    transform: rotateX(90deg);
    padding-bottom: 15px;


}


.secNav li .subs li a {
    text-decoration: underline lightgrey;
    font-size: 18px;

}


.secNav .navbar li:hover .subs {
    display: flex;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;

    transform: rotateX(0deg);
    box-shadow: 0 50px 70px #4bd1d1;



}



.secNav .navbar li .subs li {
    width: 23.5%;
    text-align: center;
    ;
    margin-left: 15px;
    border-bottom: solid 1px lightgrey;

}

.secNav .navbar li .subs li a {
    color: white;





}

.secNav .navbar li .subs li a:hover {
    color: #1eb2d5;


}

/* Technic SubMenus Styles End */

/* Furniture Submenu Styles Start */

.secNav .navbar li .furniture {
    margin-left: -15.8%;
}

/* Sport Submenu Styles Start */
.secNav .navbar li .sport {
    margin-left: -58.15%;
}


/* Second Navbar END */

main {
    width: 98.5%;
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* left SIde NavMenu styles start*/

main #leftMenu {

    width: 15%;
    background: #1eb2d5;
    position: relative;
    margin-left: 1.23%;
    border-radius: 3px;
    float: left;
    padding: 10px 0 30px 0;
}


main #leftMenu form #form {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

main #leftMenu form #form li {
    list-style: none;
    padding: 5px;
    position: relative;

}



main #leftMenu li a {
    text-decoration: none;

}


main #leftMenu li label a {
    cursor: pointer;
}

/* LeftMenu Button */
main #leftMenu #filter {
    /*button*/
    padding: 2px 10px 5px 10px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: italy;
    margin-left: calc(50% - 67px);
    margin-top: 10%;
    border: groove 2px white;
    border-radius: 3px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #1eb2d5,
            #20798e);
    background-image: linear-gradient(to bottom, #1eb2d5,
            #20798e);
    background-image: -webkit-linear-gradient(to bottom, #1eb2d5,
            #20798e);
    background-image: -moz-linear-gradient(to bottom, #1eb2d5,
            #20798e);
    background-image: -ms-linear-gradient(to bottom, #1eb2d5,
            #20798e);

    background-image: -o-linear-gradient(to bottom, #1eb2d5,
            #20798e);
    position: relative;
    overflow: hidden;

}

/* Filter Hover Effect Styles Start */


main #leftMenu #filter::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    transform: skewX(-45deg);
    background-color: rgba(255, 255, 255, 0.63);
    opacity: 1;
    bottom: 0;
    left: -55%;


}

main #leftMenu #filter:hover::after {
    animation: hover .5s ease;

}

@keyframes hover {
    0% {
        left: -55%;
    }

    99% {
        left: 115%;
    }

}

/* Filter Hover Effect Styles End */

/* left SIde NavMenu styles end*/

main #rightMenu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

main #rightMenu #leftOfRight {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

main #rightMenu #rightOfRight {
    width: 15%;
    border: dashed 1px black;

}

nav .navbar
