@font-face {
    font-family: mtav;
    src: url(../fonts/bpg_extrasquare_mtavruli_2009.ttf)
}

@font-face {
    font-family: deja;
    src: url(../fonts/bpg_dejavu_sans.ttf)
}

@font-face {
    font-family: deja;
    src: url(../fonts/bpg_dejavu_sans.ttf)
}

@font-face {
    font-family: "BPGExtraSquare";
    src: url("../fonts/bpgextrasquare2009.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/bpgextrasquare2009.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/bpgextrasquare2009.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/bpgextrasquare2009.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/bpgextrasquare2009.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/bpgextrasquare2009.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/bpgextrasquare2009.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin: 0;
    padding: 0;
    flex-grow: 0.3;

    text-align: center;
}


h2 {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    text-align: center;
    font-family: mtav;
    letter-spacing: 2px;
    font-size: 40px;
    color: #008b8b;
    margin-bottom: 0;
    float: left;
}

body,
html {
    padding: 0;
    margin: 0;
    background: #eeebeb;
    width: 100%
}

.style-two {
    border: 0;
    width: 90%;
    margin-top: 0;
    margin-left: 5.5%;
    height: 1px;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), #0eb5b5, rgba(0, 0, 0, 0))
}

.clear {
    clear: both
}

.burgerMenu {
    display: none
}

.Search2 {
    display: none
}

.fa-arrow-left {
    display: none;
    -webkit-animation: bigToSmall 1s ease-in-out;
    animation: bigToSmall 1s ease-in-out
}

@-webkit-keyframes bigToSmall {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

@keyframes bigToSmall {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

.mainHeader {
    width: 100%;
    background: #1eb2d5;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;

}

.mainHeader .regist {
    list-style: none;
    flex-basis: 9%;
    text-align: center;
    padding: 0 50px;
}

.mainHeader .regist a {
    font-family: mtav;
    font-size: 16px;


}


.mainHeader nav {
    flex-grow: 0.25;

}

.mainHeader nav .headerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;


}

.mainHeader nav .headerMenu li a {
    text-decoration: none;
    padding: 0 5px;
    font-family: mtav;
    font-size: 16px
}


.mainHeader .Search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}

.mainHeader .Search .searchbb {
    background: rgba(40, 159, 187, .68);
    border: solid 1px #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.mainHeader .Search .searchbg {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    outline: 0;
    border: none;
    color: #fff;
    background: 0 0;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
    transition: width .4s ease-in;
    animation: padd 3.3s ease-in-out infinite;
    -webkit-animation: padd 3.3s ease-in-out infinite;
    -moz-animation: padd 3.3s ease-in-out infinite;
}

@-webkit-keyframes padd {
    0% {
        text-indent: 30px;
    }

    100% {
        text-indent: -40px;
    }
}

@keyframes padd {
    0% {
        text-indent: 30px;
    }

    100% {
        text-indent: -40px;
    }
}

.mainHeader .Search .searchbb::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 20px;
    bottom: -10px;
    width: 1.5px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(-235deg);
    -ms-transform: rotate(-235deg);
    transform: rotate(-235deg)
}

.mainHeader .Search .searchbg::-webkit-input-placeholder {
    color: #fff;
    font-family: deja;
    font-size: 9px
}

.mainHeader .Search .searchbg::-moz-placeholder {
    color: #fff;
    font-family: deja;
    font-size: 9px
}

.mainHeader .Search .searchbg:-ms-input-placeholder {
    color: #fff;
    font-family: deja;
    font-size: 9px
}

.mainHeader .Search .searchbg::-ms-input-placeholder {
    color: #fff;
    font-family: deja;
    font-size: 9px
}

.mainHeader .Search .searchbg::placeholder {
    color: #fff;
    font-family: deja;
    font-size: 9px
}

.mainHeader .Search .searchbg:focus::-webkit-input-placeholder {
    font-size: 12px;
    color: #fff;
    opacity: .7
}

.mainHeader .Search .searchbg:focus::-moz-placeholder {
    font-size: 12px;
    color: #fff;
    opacity: .7
}

.mainHeader .Search .searchbg:focus:-ms-input-placeholder {
    font-size: 12px;
    color: #fff;
    opacity: .7
}

.mainHeader .Search .searchbg:focus::-ms-input-placeholder {
    font-size: 12px;
    color: #fff;
    opacity: .7
}

.mainHeader .Search .searchbg:focus::placeholder {
    font-size: 12px;
    color: #fff;
    opacity: .7
}

.mainHeader .Search button i {
    color: #fff;
    opacity: .8
}

.mainHeader .ser {
    outline: 0;
    background: 0 0;
    border: none;
    position: absolute;
    left: 1%;
    top: calc(43% - 6px);
    color: #fff;
    cursor: pointer;
    display: none
}

.nav-item {
    border: none
}

.nav-link {
    position: relative;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
    font-size: 20px
}

.nav-link:hover {
    color: #1eb2d5;
    background-color: #fff
}

.nav-link:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 15px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-width: 3px 3px 0 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0
}

.nav-link:hover:after {
    top: -8px;
    right: -8px;
    opacity: 1
}

.nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-width: 0 0 3px 3px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0
}

.nav-link:hover:before {
    bottom: -8px;
    left: -8px;
    opacity: 1
}

.profile {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .76);
    z-index: 999;
    top: 0;
    left: 0;
    font-family: mtav;
    display: none;
    overflow: auto;
}

.profile .profLay {
    width: 40%;
    min-width: 300px;
    height: 50%;
    background: #eeebeb;
    border: solid 1px #fff;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    margin-top: 2%;
    cursor: pointer;
    position: relative
}

.profile .profLay .closeLay {
    position: absolute;
    width: 60px;
    height: 30px;
    background: #cecece;
    right: 0;
    text-align: right;
    color: #fff;
    font-size: 20px;
    top: 20px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: color .4s
}

.profile .profLay .prevLay {
    position: absolute;
    width: 60px;
    height: 30px;
    background: #cecece;
    left: 0;
    text-align: right;
    color: #fff;
    font-size: 20px;
    top: 20px;
    padding-right: 5px;
    box-sizing: border-box;
    transition: color .4s;
    transform: rotateY(180deg);
}

.profile .profLay .closeLay:hover,
.profile .profLay .prevLay:hover {
    color: #000
}

.profile .profLay header {
    float: left;
    height: 40px;
    width: 100%;
    position: relative
}

.profile .profLay header a {
    width: 50%;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #008b8b;
    font-family: mtav
}

.profile .profLay header .back {
    width: 50%;
    height: 100%;
    background: #cecece;
    z-index: -1;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}

.profile .profLay form {
    width: 80%;
    height: 90%;
    margin-left: 50%;
    padding-top: 20px;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, 5%);
    -ms-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    overflow-x: hidden;
    overflow-y: auto
}

.profile .profLay form .first {
    position: relative
}

.profile .profLay form span {
    display: block;
    position: absolute;
    bottom: 42px;
    color: grey;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: -1;
}

.profile .profLay form input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #d3d3d3;
    padding-bottom: 5px;
    margin-bottom: 40px;
    background: 0 0;
    color: rgba(0, 0, 0, .54);
    font-weight: 900;
    outline: 0
}

.profile .profLay input:focus + span {
    color: #1e90ff;
    bottom: 66px
}

.profile .profLay div::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 40px;
    width: 0;
    height: 2px;
    background: #00f;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.profile .profLay input:focus ~ div::after {
    width: 100%;
    height: 2px;
    background: #1e90ff
}

.profile .profLay form button {
    width: 100%;
    height: 30px
}

.profile .profLay form button,
.profile .profLay form input[type=submit] {
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
    font-family: mtav;
}

.profile .profLay .fizPi input[type=submit] {
    margin-top: 24px;
    border: none;
    font-family: mtav;
}

.profile .profLay form button:hover,
.profile .profLay form input[type=submit]:hover {
    color: #008b8b
}

.whichOne {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.whichOne a {
    text-decoration: none;
    font-family: mtav;
    font-size: 20px;
    color: grey;
    transition: color .4s
}

.whichOne a:hover {
    color: #008b8b
}

.profile .profLay form label input {
    width: auto;
    margin-bottom: 0
}

.profile .profLay form label {
    font-size: 12px
}

.profile .profLay .logInForm {
    height: 80%
}

.profile .profLay .logInForm input[type=submit] {
    margin-bottom: 0;
    margin-top: 4%
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;

}

.container:hover .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196f3;

}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 3.5px;
    top: 1.5px;
    width: 5px;
    height: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

/*Slider Styles Start*/

.mainDiv {
    height: 372px;
    max-height: 372px;
    position: relative;
}


.mainDiv .inner {
    position: absolute;
    width: 100%;
    height: 100%;

    position: relative;


}

.mainDiv .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.mainDiv .inner .sideBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all .4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    box-sizing: border-box;
}

.mainDiv .inner h2 {

    padding: 0;
    width: 50%;
    text-align: left;
    color: white;
    font-family: mtav;
    margin: 0;
    letter-spacing: 1px;
    font-size: 38px;
}

.mainDiv .inner p {

    width: 80%;
    color: white;
    font-family: deja;

    padding: 5px;
    margin-left: -5px;
}

.mainDiv .inner .buttons {

    color: white;
    border: none;
    width: 100px;


}

.mainDiv .inner .buttons a {
    cursor: pointer;
    background: transparent;
    border: solid 2px white;
    padding: 5px 10px;
    color: white;
    font-family: mtav;
    font-size: 16px;
    text-decoration: none;
    transition: color .8s, background .7s, border 0s, padding 0s;

    /*    transition: border 0s;*/
    border-radius: 2px;
    box-sizing: border-box;

}

.mainDiv .inner .buttons a:hover {
    background: white;
    color: grey;


}


.mainDiv .inner .nexter {
    position: absolute;
    top: 0;
    left: 50%;
    cursor: ew-resize;
    transition: all .4s;
    height: 100%;
    background: rgba(0, 0, 0, 0.64);
    border: none;
    font-size: 20px;
    color: white;
}

.left {
    left: -60% !important;
    opacity: 0;
    pointer-events: none;
}

.fromleft {
    left: 0 !important;
    font-size: 20px;
    color: black !important;
}

/* Slider Styles End*/
.secNav {
    float: left;
    background: #1eb2d5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    position: relative;
    width: 100%;
}

.secNav .arrowsIcons {
    padding: 5px 11px 5px 10px;
    color: #fff;
    text-align: center;
    -webkit-animation: animee ease-in-out 2s infinite;
    animation: animee ease-in-out 2s infinite;
    font-size: 25px
}

.secNav .arrowsIcons:nth-child(1) {

    -webkit-animation: anime ease-in-out 2s infinite;
    animation: anime ease-in-out 2s infinite
}

@-webkit-keyframes anime {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

@keyframes anime {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px)
    }
}

.arrowsIcons:nth-child(2) {
    -webkit-animation: animee ease-in-out 2s infinite;
    animation: animee ease-in-out 2s infinite
}

@-webkit-keyframes animee {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
}

@keyframes animee {

    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    40%,
    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
}

.secNav .navbar {
    width: 90%;
    background: #1eb2d5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 70px;
    position: initial;
    overflow: auto;
    white-space: nowrap;
    margin: 0;
    align-items: center;
}

.secNav .navbar::-webkit-scrollbar {
    height: 3px;
    background: #5ae875
}

.secNav .navbar::-o-scrollbar {
    height: 3px;
    background: #5ae875
}

.secNav .navbar::-ms-scrollbar {
    height: 3px;
    background: #5ae875
}

.secNav .navbar::-webkit-scrollbar-track {
    background: 0 0
}

.secNav .navbar::-o-scrollbar-track {
    background: 0 0
}

.secNav .navbar::-ms-scrollbar-track {
    background: 0 0
}

.secNav .navbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer
}

.secNav .navbar::-o-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer
}

.secNav .navbar::-ms-scrollbar-thumb {
    border-radius: 4px;
    background: #008b8b;
    cursor: pointer
}

.secNav .navbar li a {
    font-size: 16px;
    text-decoration: none;
    font-family: mtav;
    padding: 0 5px
}

.secNav .navbar li .subs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    position: absolute;
    z-index: 1;
    background: #1eb2d5;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    left: 0;
    top: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-perspective: 400px;
    perspective: 400px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    padding-left: 0;

}

.secNav .navbar li .subs li a {
    font-size: 14px
}

.secNav .navbar li:hover .subs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);

}

.secNav .navbar li .subs li {
    width: 22%;
    text-align: center;
    padding: 20px;

}

.secNav .navbar li .subs li a {
    color: #fff;
}

.secNav .navbar li .subs li a:hover {
    color: #1eb2d5;
}

.secNav .navbar li .furniture {
    left: 0;
}

.secNav .navbar li .sport {
    left: 0;
}


.bar2 {
    border-radius: 100%
}

::webkit-scrollbar-track {
    background: 0 0
}

::moz-scrollbar-track {
    background: 0 0
}

::o-scrollbar-track {
    background: 0 0
}

::ms-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f6f6f6;
    border-left: solid 2px #fff;
    opacity: .1
}

::-moz-scrollbar {
    width: 5px;
    background-color: #f6f6f6;
    border-left: solid 2px #fff;
    opacity: .1
}

::-o-scrollbar {
    width: 5px;
    background-color: #f6f6f6;
    border-left: solid 2px #fff;
    opacity: .1
}

::-ms-scrollbar {
    width: 5px;
    background-color: #f6f6f6;
    border-left: solid 2px #fff;
    opacity: .1
}

::-webkit-scrollbar:hover {
    opacity: 1
}

::-webkit-scrollbar-thumb {
    background: #1eb2d5;
    border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background: #7cd870
}

.firstSection {
    width: 98%;
    padding: 0 10px;
    padding-top: 5px;
    min-height: 500px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.firstSection nav {
    width: 100%;
    position: relative
}

.firstSection nav .detailed_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-item-align: start;
    align-self: flex-start;
    list-style: none;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0
}

.firstSection nav .detailed_list li a {
    padding: 10px;
    text-decoration: none;
    font-family: deja;
    color: #008b8b
}

.firstSection nav .detailed_list li {
    border-right: solid 1px #1eb2d5;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.firstSection nav .detailed_list li:hover {
    background: #008b8b
}

.firstSection nav .detailed_list li:hover a {
    color: #008b8b
}

.firstSection nav .detailed_list li a:hover {
    color: #fff
}

.firstSection nav .detailed_list li a {
    color: #008b8b
}

.firstSection nav .detailed_list li:last-child {
    border-right: none
}

.firstSection nav .detailed_list li ul {
    position: absolute;
    left: 0;
    bottom: -10px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    display: none
}

.firstSection nav .detailed_list li ul li {
    position: relative
}

.firstSection .sectionFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 150px;
}

.firstSection article {
    width: 15%;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;

}

.firstSection article figure {
    position: relative;
    width: 91%;
    max-height: 75%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    margin: 0;
    margin-left: 4.7%;
    overflow: hidden
}

.firstSection article img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.firstSection article figure img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.firstSection article:hover {
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000
}

.firstSection article .title {
    width: 91%;
    text-align: center;
    background: #cecece;
    margin-left: 4.7%;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: mtav;
    font-size: 16px;
    border-radius: 0 0 6px 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.firstSection article .title a {
    text-decoration: none;
    color: #000
}

.firstSection article .hName {
    width: 90%;
    margin-left: 5.5%;
    margin-top: 10px;
    height: 35px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.firstSection article .hName h2 {
    width: 100%;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 20px;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-align: center;
    margin: 0
}

.firstSection article .hName .productName {
    position: relative;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    text-align: left;
    text-decoration: none;
    color: #000;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.firstSection article .hName .productName::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -15%;
    left: 1%;
    background: #1eb2d5;
    background: red;
    -webkit-transition: width .4s, background .3s;
    -o-transition: width .4s, background .3s;
    transition: width .4s, background .3s
}

.firstSection article .hName .productName:hover::after {
    width: 60px;
    background: #1eb2d5
}

.firstSection article .hPrices {
    width: 90%;
    height: 30px;
    margin-left: 5.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.firstSection article .hPrices .changedPrice {
    font-size: 20px
}

.firstSection article .hPrices h5 {
    font-size: 20px;
    width: 27%;
    line-height: 20px;
    margin-top: 0
}

.firstSection article .hPrices .price {
    opacity: .8;
    font-size: 18px;
    font-family: BPGExtraSquare;
}

.firstSection article .hPrices .oldPrice {
    opacity: .52;
    color: #000
}

.firstSection article .hPrices p {
    width: 10%;
    font-size: 20px;
    text-align: center;
    margin-top: 0
}

.firstSection article .oldPrice {
    width: 27%;
    text-decoration: line-through;
    color: red
}

.firstSection article .emoji {
    width: 10%
}


.firstSection article .newPrice {
    width: 27%;
    text-align: right;
    color: #5dade2
}

.firstSection article .time {
    width: 97%;
    margin-left: 1.7%;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 18px;
    font-family: mtav
}

.firstSection article .time .far {
    font-size: 20px;
    margin-top: 5px;
    color: #008b8b
}

.firstSection article .time .span1 {
    font-size: 28px;
    color: #5dade2;
    margin-right: 3px
}

.firstSection article .time .span2 {
    opacity: .52
}

.firstSection article .socials {
    position: relative;
    -ms-flex-item-align: start;
    align-self: flex-start;
    bottom: -18px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: -2.5%;
    left: 0;
    margin-left: 0;
    margin-right: 0
}

.firstSection article .socials a {
    color: grey;
    background: #fff;
    border-right: solid 1px #008b8b;
    width: 40%;
    height: 35px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 10px
}

.firstSection article .socials a:last-child {
    border: none
}

.firstSection article .socials .fa-facebook-f {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.firstSection article .socials a:hover .fa-facebook-f {
    color: #0000e6;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg)
}

.firstSection article .socials .fa-star {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.firstSection article .socials a:hover .fa-star {
    color: #ffe033;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg)
}

.firstSection article .socials .fa-heart {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.firstSection article .socials a:hover .fa-heart {
    color: #fc2f55;
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg)
}

@media screen and (max-width:1025px) {




    .mainHeader nav .headerMenu li a {
        font-size: 15px
    }

    .firstSection .category {
        -webkit-margin-end: 1px;
        margin-inline-end: 1px
    }

    .secNav .navbar li .sport {
        margin-top: 0
    }
}

@media screen and (max-width:769px) {
    .mainHeader {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 90%;
        bottom: 0
    }

    .mainHeader nav .headerMenu {
        width: 100%;
        line-height: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 2%
    }

    .mainHeader nav .headerMenu li a {
        font-size: 19px;
        margin-left: 4px;
        margin-top: 5px
    }

    .mainHeader .logo {
        display: none
    }

    .mainHeader .los {
        display: none
    }

    .mainHeader .Search {
        display: none
    }

    .head {
        height: 75px;
        width: 100%;
        position: relative
    }

    .head .fa-arrow-left {
        position: absolute;
        top: 30%;
        left: calc(37% - 25px);
        font-size: 25px;
        color: #008b8b;
        display: none;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s
    }

    .burgerMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 75px;
        width: 65px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .burgerMenu .bar1 {
        width: 30px;
        height: 3px;
        background: #1eb2d5;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .burgerMenu .bar2 {
        width: 20px;
        height: 3px;
        background: #1eb2d5;
        margin-top: 8px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-right: 10px
    }

    .burgerMenu .bar3 {
        width: 30px;
        height: 3px;
        background: #1eb2d5;
        margin-top: 8px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center
    }

    .close .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        -ms-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s
    }

    .close .bar2 {
        opacity: 0
    }

    .close .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        -ms-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s
    }

    .secNav {
        height: 0;
        margin: 0
    }

    .secNav .navbar {
        position: fixed;
        height: 85vh;
        z-index: 1;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        top: -100%;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -ms-flex-line-pack: start;
        align-content: start
    }

    .secNav .navbar.open {
        top: 60px;
        height: 100%
    }

    .secNav .navbar li {
        width: 30%;
        margin: 15px auto
    }

    .secNav .navbar li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-bottom: solid 1px #fff
    }

    .secNav .navbar li a .fas {
        margin-bottom: -6%
    }

    .secNav .navbar li .subs {
        left: 0;
        top: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background: #008b8b;
        height: 100%;
        -ms-flex-line-pack: start;
        align-content: start
    }

    .secNav .navbar li .subs li {
        width: 30%;
        border-bottom: none;
        margin-left: 13px
    }

    .secNav .navbar li .subs li a {
        font-size: 14px;
        margin-top: 10px;
        text-decoration: none
    }

    .secNav .navbar li .sport {
        display: block !important
    }

    .secNav .navbar li .sport li {
        float: left
    }

    .secNav .arrowsIcons {
        display: none
    }

    .Search2 {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 40px;
        right: 2.5%;
        top: 22%
    }

    .Search2 .searchbg2 {
        background: rgba(40, 159, 187, .56);
        outline: 0;
        border: none;
        border-left: solid 2px #fff;
        border-right: solid 2px #fff;
        padding-left: 10px;
        color: #fff;
        font-family: mtav;
        width: 200px
    }

    .Search2 .searchbg2::-webkit-input-placeholder {
        color: #fff;
        font-family: mtav
    }

    .Search2 .searchbg2::-moz-placeholder {
        color: #fff;
        font-family: mtav
    }

    .Search2 .searchbg2:-ms-input-placeholder {
        color: #fff;
        font-family: mtav
    }

    .Search2 .searchbg2::-ms-input-placeholder {
        color: #fff;
        font-family: mtav
    }

    .Search2 .searchbg2::placeholder {
        color: #fff;
        font-family: mtav
    }

    .Search2 button i {
        background: #289fbb
    }

    .ser {
        outline: 0;
        background: 0 0;
        border: none;
        position: absolute;
        right: 1%;
        top: 30%;
        color: #fff;
        cursor: pointer
    }

    .slider {
        margin-top: 0
    }

    .firstSection {
        padding: 0
    }

    .firstSection article {
        width: 47%;
        margin-left: 2.2%
    }

    .mainHeader nav .headerMenu {
        width: 100%;
        margin-top: 1.6%
    }

    .slider {
        height: 225px
    }

    .mainHeader nav .headerMenu li a {
        font-size: 18px
    }

    .firstSection article {
        width: 30%;
        margin-left: 2.3%
    }
}

@media screen and (max-width:556px) {
    .mainHeader {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 0;
        border-top: solid 1px #fff
    }

    .mainHeader nav .headerMenu {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 2.5%
    }

    .mainHeader nav .headerMenu li {
        margin-top: -10px;
        line-height: 28px
    }

    .mainHeader nav .headerMenu li a {
        font-size: 19px;
        margin-left: 4px;
        margin-top: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .mainHeader nav .headerMenu li:nth-child(2) {
        border-top: solid 1px #fff;
        border-radius: 100%;
        height: 90px;
        margin-top: -30px;
        background: #1eb2d5;
        line-height: 23px
    }

    .mainHeader nav .headerMenu li:nth-child(2) a i {
        font-size: 35px;
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
        margin-top: 5px
    }

    .mainHeader .logo {
        display: none
    }

    .mainHeader .los {
        display: none
    }

    .mainHeader .Search {
        display: none
    }

    .firstSection .sectionFooter {
        margin-top: 3%
    }

    .slider {
        margin-top: 0
    }

    .firstSection {
        padding: 0
    }

    .firstSection article {
        width: 47%;
        margin-left: 2.2%;
        margin-top: 25%
    }
}

@media screen and (max-width:426px) {
    .mainHeader {
        position: fixed;
        z-index: 1;
        bottom: 2px;
        left: 0;
        bottom: 0
    }

    .mainHeader nav .headerMenu {
        width: 100%;
        line-height: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .mainHeader nav .headerMenu .fas:nth-child(2) {
        line-height: 5px
    }

    .mainHeader nav .headerMenu li {
        margin-top: -4px
    }

    .mainHeader nav .headerMenu li a {
        font-size: 19px;
        margin-left: 4px;
        margin-top: 5px
    }

    .mainHeader nav .headerMenu li:nth-child(2) {
        line-height: 33px
    }

    .mainHeader .logo {
        display: none
    }

    .mainHeader .los {
        display: none
    }

    .mainHeader .Search {
        display: none
    }

    .firstSection {
        padding: 0 0;
        margin: 0 auto
    }

    .firstSection article {
        width: 45%;
        margin-left: 3.3%
    }

    .slider {
        height: 170px;
        margin-top: 0;
        margin-bottom: 5px
    }

    .popular_down {
        margin-bottom: 21px
    }

    .secNav .navbar li .subs li {
        width: 45%
    }

    .firstSection article .title a {
        font-size: 14.5px
    }
}

@media screen and (max-width:376px) {
    .firstSection article .title {
        margin-top: 15%;
        font-size: 14px
    }

    .firstSection article .hName {
        margin-top: 4px;
        height: 22px
    }

    .firstSection article .hName h2 {
        margin-top: -3%
    }

    .firstSection article .hName .productName {
        font-size: 15px
    }

    .firstSection article .hPrices {
        height: 28px
    }

    .firstSection article .hPrices h5 {
        font-size: 14px
    }

    .firstSection article .hPrices .price {
        opacity: .8
    }

    .firstSection article .time .timeLeft {
        font-size: 13px
    }

    .style-two {
        margin-bottom: 0
    }

    .firstSection article .socials {
        margin-top: -7.5%
    }

    .firstSection article .socials a {
        line-height: 0;
        height: auto;
        padding-top: 3px;
        margin-bottom: 7px
    }

    .firstSection article .time .far {
        margin-top: 3px
    }

    .popular_up {
        margin-bottom: 25px
    }

    .mimAq {
        font-size: 33px
    }
}

@media screen and (max-width:320px) {
    .head .fa-arrow-left {
        left: calc(28% - 25px)
    }

    .firstSection article .title {
        margin-top: 17%;
        font-size: 13px
    }

    .firstSection article .hName .productName {
        font-size: 12px
    }

    .mainHeader nav .headerMenu li:nth-child(2) {
        line-height: 43px
    }

    .mainHeader nav .headerMenu li {
        margin-top: 0
    }
}

.hide {
    display: none
}
